In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv ("resources/purchase_data.csv")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df['Item Name'].value_counts()

In [ ]:
df.head()

In [ ]:
analysis = {}

In [ ]:
player_count = len(df['SN'].value_counts())

In [125]:
analysis['Number of players'] = player_count

In [ ]:
analysis

In [ ]:
df['SN'].value_counts()

In [ ]:
gby_SN = df.groupby(['SN'])

In [ ]:
gby_SN.count()

In [ ]:
unique_items = len(df['Item ID'].value_counts())

In [ ]:
unique_items

In [ ]:
analysis['number of unique items'] = unique_items

In [ ]:
df['Item Name'].value_counts()

In [ ]:
gby_item_name = df.groupby(['Item Name'])

In [ ]:
total_revenue = round(gby_item_name['Price'].mean().sum(), 2)

In [ ]:
analysis['Total revenue'] = total_revenue

In [ ]:
number_of_purchases = df['Purchase ID'].count()

In [ ]:
analysis['Number of purchases'] = number_of_purchases

In [ ]:
mean_price = round(gby_item_name['Price'].mean().mean(),2)

In [ ]:
analysis['Average Price'] = mean_price

In [124]:
#To count genders, needed to get rid of duplicate entries.  because each purchase by a different person
#is entered individually, with repeats if someone made more than one purchase.

df_uniq = df.sort_values('SN')
df_uniq = df_uniq.drop_duplicates(subset='SN', keep='first')
df.count()
df_uniq.count()

gby_gender_uniq = df_uniq.groupby(['Gender'])
gender_count = gby_gender_uniq['SN'].count()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [ ]:
#put all of the values calculated abve into the analysis dict

analysis['Number of females'] = gender_count[0]
analysis['Number of males'] = gender_count[1]
analysis['Number of other/non-diclosing'] = gender_count[2]
analysis['Percent females'] = round(gender_count[0]/gender_count.sum() * 100)
analysis['Percent males'] = round(gender_count[1]/gender_count.sum() * 100)
analysis['Percent other/non-disclosing'] = round(gender_count[2]/gender_count.sum() * 100)

analysis

In [ ]:
#Analysis by gender

gby_gender = df.groupby(['Gender'])
avgprice_by_gender = round(gby_gender['Price'].mean(),2)
count_by_gender = gby_gender['Price'].count()
total_by_gender = gby_gender['Price'].sum()

# add avg prices by gender to dict
analysis['Average price (females)'] = avgprice_by_gender[0]
analysis['Average price (males)'] = avgprice_by_gender[1]
analysis['Average price (O/ND)'] = avgprice_by_gender[2]

# add counts by gender to dict
analysis['Number of purchases (females)'] = count_by_gender[0]
analysis['Number of purchases (males)'] = count_by_gender[1]
analysis['Number of purchasese (O/ND)'] = count_by_gender[2]

# add toal purchased amount to dict
analysis['Total of purchases (females)'] = round(total_by_gender[0])
analysis['Total of purchases (males)'] = round(total_by_gender[1])
analysis['total of purchasese (O/ND)'] = round(total_by_gender[2])

In [123]:
# average purchase total per person by gender.  This one seems more complicated

#group by gender and name

df.groupby(['Gender','SN'])[['Price']].mean()

                                     Price
Gender                SN
Female                Adastirin33    4.480
                      Aerithllora36  4.320
                      Aethedru70     3.540
                      Aidain51       3.450
                      Aiduesu86      4.480
...                                    ...
Other / Non-Disclosed Lirtim36       1.330
                      Maluncil97     2.640
                      Rairith81      2.220
                      Siarithria38   3.455
                      Sundim98       4.750

[576 rows x 1 columns]