In [1]:
import pandas as pd

In [2]:
df = pd.read_csv ("resources/purchase_data.csv")

# A first look at the data

In [3]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count

In [18]:
players = {}
player_count = len(df['SN'].value_counts())
players['Total Players'] = [player_count]
players_df = pd.DataFrame.from_dict(players)
players_df

Lisosia93       5
Iral74          4
Idastidru52     4
Yathecal82      3
Hada39          3
               ..
Sally64         1
Lisossanya98    1
Jiskirran77     1
Iadueria43      1
Iskosia90       1
Name: SN, Length: 576, dtype: int64

# Purchasing Analysis

In [16]:

#look at names
df['SN'].value_counts()

#group by names
gby_SN = df.groupby(['SN'])

#total names (actually total purchases, because name is listed for ea purchase)
gby_SN.count()

#calculate unique items
unique_items = len(df['Item ID'].value_counts())

#group by item name
gby_item_name = df.groupby(['Item Name'])

#calculate total revenue
total_revenue = df['Price'].sum()

#calculate number of purchase
number_of_purchases = df['Purchase ID'].count()

#calculate mean price
mean_price = round(gby_item_name['Price'].mean().mean(),2)

#add all values to dict
purchasing = {'number of unique items': [unique_items],
           'Average Price': [mean_price],
           'Total revenue': [total_revenue],
           'Number of Purchases' : [number_of_purchases]}

purchasing_df = pd.DataFrame.from_dict(purchasing)
purchasing_df

   number of unique items  Average Price  Total revenue  Number of Purchases
0                     179           3.04        2379.77                  780

# Gender Demographics

In [6]:
#To count genders, needed to get rid of duplicate entries. Because each purchase by a different person
#is entered individually, with repeats if someone made more than one purchase.

df_uniq = df.sort_values('SN')
df_uniq = df_uniq.drop_duplicates(subset='SN', keep='first')
df.count()
df_uniq.count()

gby_gender_uniq = df_uniq.groupby(['Gender'])
gender_count = gby_gender_uniq['SN'].count()
gender_count

#put all of the values calculated above into the gender demo dict

percent_female = round(gender_count[0]/gender_count.sum() * 100)
percent_male = round(gender_count[1]/gender_count.sum() * 100)
percent_other = round(gender_count[2]/gender_count.sum() * 100)

Gender_demographics = [{'Gender': 'Female', 'Total Count' : gender_count[0], 'Percent': percent_female},
                   {'Gender': 'Male', 'Total Count' : gender_count[1], 'Percent': percent_male},
                    {'Gender': 'Other/non-disclosing', 'Total Count' : gender_count[2], 'Percent': percent_other}]
                       
Gender_demographics_df = pd.DataFrame.from_dict(Gender_demographics)
               
Gender_demographics_df

                 Gender  Total Count  Percent
0                Female           81     14.0
1                  Male          484     84.0
2  Other/non-disclosing           11      2.0

# Purchasing Analysis by Gender

In [7]:
#Analysis by gender


gby_gender = df.groupby(['Gender'])
avgprice_by_gender = round(gby_gender['Price'].mean(),2)
count_by_gender = gby_gender['Price'].count()
total_by_gender = gby_gender['Price'].sum()

female_avg_purch = round(total_by_gender[0]/gender_count[0],2) # calculated in above section
male_avg_purch = round(total_by_gender[1]/gender_count[1],2)
OND_avg_purch = round(total_by_gender[2]/gender_count[2],2)

# add avg prices by gender to dict
gender_analysis = [{'Gender':'Female', 'Average Purchase Price': avgprice_by_gender[0],
                    'Total Purchases':round(total_by_gender[0]), 'Avg Total per person': female_avg_purch},
                   {'Gender':'Male', 'Average Purchase Price': avgprice_by_gender[1],
                    'Total Purchases':round(total_by_gender[1]), 'Avg Total per person': male_avg_purch},
                   {'Gender':'Other/ND', 'Average Purchase Price': avgprice_by_gender[2],
                    'Total Purchases':round(total_by_gender[2]), 'Avg Total per person': OND_avg_purch}]
                   
gender_analysis_df = pd.DataFrame.from_dict(gender_analysis)
               
gender_analysis_df

     Gender  Average Purchase Price  Total Purchases  Avg Total per person
0    Female                    3.20            362.0                  4.47
1      Male                    3.02           1968.0                  4.07
2  Other/ND                    3.35             50.0                  4.56

# Age demographics

In [8]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# An example - df_ages['age_by_decade'] = pd.cut(x=df_ages['age'], bins=[20, 29, 39, 49], labels=['20s', '30s', '40s'])

In [10]:
# sort and drop duplicates to work with unique players
df_uniq = df.sort_values('SN')
df_uniq = df_uniq.drop_duplicates(subset='SN', keep='first')

# use cut to bin in to age ranges
df_uniq['Age Ranges'] = pd.cut(x=df['Age'], 
                               bins=[0, 9, 14, 19, 24, 29, 34, 39, 50],
                               labels=['<10', '10-14', '15-19', '20-24', '25-29',
                                        '30-34', '35-39', '40+'])
 
#groupby those age ranges                                                                                            
gby_age_ranges = df_uniq.groupby(['Age Ranges'])

#calculate count and percent                                                                                            
player_count = gby_age_ranges['SN'].count()
player_total = player_count.sum()
player_percent = round(player_count/player_total * 100, 2)

#create dataframe using above values
age_demo_df = pd.DataFrame({'Total count':player_count,
                            'Percentage of Players': player_percent})
age_demo_df

            Total count  Percentage of Players
Age Ranges
<10                  17                   2.95
10-14                22                   3.82
15-19               107                  18.58
20-24               258                  44.79
25-29                77                  13.37
30-34                52                   9.03
35-39                31                   5.38
40+                  12                   2.08

# Purchasing Analysis (Age)

In [11]:
#make a copy of main df
purch_df = df

#bin by ages as above
purch_df['Age Ranges'] = pd.cut(x=purch_df['Age'], 
                               bins=[0, 9, 14, 19, 24, 29, 34, 39, 50],
                               labels=['<10', '10-14', '15-19', '20-24', '25-29',
                                        '30-34', '35-39', '40+'])
#groupby those age ranges                                                                                            
purch_by_age = purch_df.groupby(['Age Ranges'])

#calculate count, avg purchase price, total purchase value, avg total per person
purch_count = purch_by_age['SN'].count()
purch_avg = round(purch_by_age['Price'].mean(),2)
purch_total = purch_by_age['Price'].sum()
purch_per_person = round(purch_total/player_count,2) #player_total from above

purch_per_person


#create dataframe using above values
purch_age_df = pd.DataFrame({'Purchase count': purch_count,
                            'Average Purchase Price': purch_avg,
                            'Total Purchase Value':purch_total,
                            'Avg Total Purchase Per Person' : purch_per_person})

purch_age_df

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

# Top Spenders

In [12]:
#make a copy of main df
spenders_df = df

#group by name
gby_name = spenders_df.groupby(['SN'])

#calculate average price, purchase count, total purchase value
avg_price = round(gby_name['Price'].mean(),2)
purch_count = gby_name['Price'].count() # could use any column here
purch_total = gby_name['Price'].sum()

#create dataframe using above values
top_spenders_df = pd.DataFrame({'Purchase Count': purch_count,
                            'Average Purchase Price': avg_price,
                            'Total Purchase Value':purch_total})

top_spenders_df.sort_values('Total Purchase Value', ascending = False).head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [13]:
# Most Popular Items

In [14]:
#make a copy of main df
Items_df = df

#group by name
gby_item = Items_df.groupby(['Item ID', 'Item Name'])

#calculate average price, purchase count, total purchase value
item_price = round(gby_item['Price'].mean(),2)
item_count = gby_item['Price'].count() # could use any column here
item_total = gby_item['Price'].sum()

#create dataframe using above values
top_items_df = pd.DataFrame({'Purchase Count': item_count,
                            'Average Purchase Price': item_price,
                            'Total Purchase Value':item_total})

top_items_df.sort_values('Purchase Count', ascending = False).head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [15]:
top_items_df.sort_values('Total Purchase Value', ascending = False).head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80