In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv ("resources/purchase_data.csv")

In [18]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [ ]:
df.columns

In [ ]:
df['Item Name'].value_counts()

In [ ]:
df.head()

In [62]:
analysis = {}

In [ ]:
player_count = len(df['SN'].value_counts())

In [63]:
analysis['Number of players'] = player_count

In [ ]:
unique_items = len(df['Item ID'].value_counts())

In [ ]:
unique_items

In [64]:
analysis['number of unique items'] = unique_items

In [ ]:
df['Item Name'].value_counts()

In [ ]:
df.groupby(['Item Name'])

In [ ]:
total_revenue = round(gby_item_name['Price'].mean().sum(), 2)

In [ ]:
analysis['Total revenue'] = total_revenue

In [73]:
number_of_purchases = df['Purchase ID'].count()

In [77]:
analysis['Number of purchases'] = number_of_purchases

In [78]:
analysis

{'Number of players': 576,
 'number of unique items': 179,
 'Number of purchases': 780}

In [80]:
mean_price = round(gby_item_name['Price'].mean().mean(),2)

In [81]:
analysis['Average Price'] = mean_price

In [ ]:
analysis

In [ ]:
df['Gender'].value_counts()

In [48]:
gby_gender = df.groupby(['Gender'])

In [ ]:
gby_gender['SN'].count()

In [59]:
num_females = gby_gender['SN'].count()[0]

In [60]:
num_males = gby_gender['SN'].count()[1]

In [85]:
analysis['Number of males'] = num_males

In [61]:
num_other = gby_gender['SN'].count()[2]

In [86]:
analysis['Number of other/Non-disclosed gender'] = num_other

In [87]:
analysis

{'Number of players': 576,
 'number of unique items': 179,
 'Number of purchases': 780,
 'Average Price': 3.04,
 'Number of females': 113,
 'Number of males': 652,
 'Number of other/Non-disclosed gender': 15}